.plugins/
.settings/
bin/
target/
.metadata
/.metadata
/.DS_Store
/.metadata/.log
/.metadata/.mylyn/.tasks.xml.zip
/.metadata/.mylyn/tasks.xml.zip
.DS_Store
*.DS_Store
/kz.client.tests/.DS_Store
/kz.client.tests/src/.DS_Store
/kz.client.tests/src/kz/.DS_Store
/kz.client.tests/src/kz/client/.DS_Store
/KidoZenDemos/gen/kz/
/kz.client.tests/gen/kz/
/kz.client/.idea/libraries/Maven*


